<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/ex3.css">
</head>
<body>
    <div class="wrap">
        <header>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </header>
        
        <main class="bottom">
            <div class="circle"></div>
            <div class="circle"></div>
        </main>
    </div>
    
</body>
</html>