<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자바스크립트 실습</title>
    <script src="../assets/test.js"></script>
    <link rel="stylesheet" href="../assets/test.css">     
</head>
<body>
    <h1>안녕하세요!</h1>
    <div class="box blue"></div>
    <button class="color-change" onclick="colorChange()">click!!</button>
    <br>
    <button class="fontcolor-change" onclick="fontcolorChange()">click!</button>
</body>
</html>             