*{
    padding: 0;
    margin: 0;
}

body{
    width: 60%;
    margin: 0 auto;
}

.fontpink{
    color: pink;
}

.box{
    width: 500px;
    height: 500px;
}

.blue{
    background-color:  skyblue;
}

.pink{
    background-color: pink;
}

button{
    width: 100px;
    height: 80px;
    font-size: large;
    margin: 20px;
}